div#clima {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid var(--bordaElemento);
    border-radius: 10px;
    width: 32em;
}

aside#container-info-add {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
