div.info-add {
    display: flex;
    margin: 8px;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    width: 200px;
}

img.icone-info-add {
    margin-left: 8px;
    width: 50px;
    height: 50px;
}

div.dados-info-add {
    width: 100%;
    margin: 8px;
    text-align: center;
}

p.numero-info-add {
    transform: scaleY(1.4);
    font-size: 18px;
    font-weight: 500;
}

p.nome-info-add {
    font-weight: 300;
}