div.info-add {
    display: flex;
    align-items: center;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    color: whitesmoke;
    width: fit-content;
}

img.icone-info-add {
    width: 40px;
}

div.dados-info-add {
    text-align: center;
}